<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="onesignal-cordova-plugin-android-badges"
        version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>OneSignal Push Notifications - Android Badges</name>
    <author>Mark van Beek</author>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=6.4.0" />
        <engine name="cordova-android" version=">=5.1.0" />
    </engines>

    <dependency id="onesignal-cordova-plugin" version=">=3.0.0"/>

    <platform name="android">
        <framework src="me.leolin:ShortcutBadger:1.1.22@aar" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE"/>

            <meta-data android:name="com.onesignal.NotificationServiceExtension"
                       android:value="com.appelit.os_badges.BadgeSetterExtender" />
        </config-file>

        <source-file src="src/android/BadgeSetterExtender.java" target-dir="src/com/appelit/os_badges/" />
    </platform>
</plugin>
